<footer class="footer">
	<div class="footer__container container">
		<div class="footer__inner">
			<ul class="menu">
				<li class="menu-item">
					<a href="#">Home</a>
				</li>

				<li class="menu-item menu-item-has-children">
					<a href="#">Company</a>

					<ul class="sub-menu">
						<li class="menu-item">
							<a href="#">Advisors</a>
						</li>
						<li class="menu-item">
							<a href="#">Board of Directors</a>
						</li>
						<li class="menu-item">
							<a href="#">Leadership Team</a>
						</li>
					</ul>
				</li>

				<li class="menu-item menu-item-has-children">
					<a href="#">Products</a>

					<ul class="sub-menu">
						<li class="menu-item">
							<a href="#">Advisors</a>
						</li>
						<li class="menu-item">
							<a href="#">Board of Directors</a>
						</li>
						<li class="menu-item">
							<a href="#">Leadership Team</a>
						</li>
					</ul>
				</li>

				<li class="menu-item">
					<a href="#">News</a>
				</li>
				<li class="menu-item">
					<a href="#">Contact Us</a>
				</li>
			</ul>
			<span class="footer__copy">
				Copyright © 2009 - 2024. Sonitus Medical, Inc.
			</span>
		</div>
	</div>
</footer>
