<section class="hero">
	<div class="hero__container container">
		<div class="hero__content">
			<h1 class="hero__title">
				Mexican Online Pharmacy: Easy Access to Affordable Drugs
			</h1>

			<div class="hero__info">
				<p>
					Mexican Pharmacy (MP) has been created through the efforts of two
					Mexico-raised founders who believed that having access to affordable,
					high-quality healthcare is a universal right that everyone should
					have. Their dream gave rise to our online pharmacy, located in a small
					corner of Mexico City. Despite all odds our pharmacy grew and
					flourished, mirroring the resilience of the desert agave plant.
				</p>
				<p>
					Our founders had a mission. They wanted to serve their community by
					providing them with access to high-quality drugs at low prices. This
					humble yet ambitious dream was likely the cause of our success. And
					despite facing our fair share of troubles trying to navigate the
					complex regulatory system, we persevered and it finally paid off. We
					have recently opened another branch in Torreón, Coahuila.
				</p>
			</div>

			<div class="hero__btns">
				<button class="search-btn btn-reset">
					<svg width="24" height="24">
						<use href="./assets/img/svg/sprite.svg#search"></use>
					</svg>
					<span>Find your medicine</span>
				</button>

				<button class="btn-secondary btn-reset">How to make an order</button>
			</div>

			<div class="hero__text">
				<svg
					width="25"
					height="24"
					viewBox="0 0 25 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M4 7.25H20.75"
						stroke="#3A3333"
						stroke-width="1.8"
						stroke-miterlimit="10"
						stroke-linejoin="round" />
					<path
						d="M7.4525 3.75H17.5475C17.9925 3.75 18.415 3.9475 18.7 4.2895L20.4025 6.3325C20.627 6.602 20.75 6.942 20.75 7.293V18.25C20.75 19.3545 19.8545 20.25 18.75 20.25H6.25C5.1455 20.25 4.25 19.3545 4.25 18.25V7.293C4.25 6.942 4.373 6.6025 4.5975 6.3325L6.3 4.2895C6.585 3.9475 7.0075 3.75 7.4525 3.75Z"
						stroke="#3A3333"
						stroke-width="1.8"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round" />
					<path
						d="M10.25 10.75H14.75"
						stroke="#3A3333"
						stroke-width="1.8"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round" />
					<path
						d="M12.5 4V7"
						stroke="#3A3333"
						stroke-width="1.8"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>

				<span>Free shipping for orders above $200</span>
			</div>
		</div>
	</div>

	<div class="hero-cards">
		<div class="hero-cards__container container">
			<div class="hero-cards__card card card-single">
				<div class="card-single__top card__top">
					<span class="card-single__title card__title">Save money smart</span>
				</div>
				<div class="card__body">
					<div class="card-single__layout">
						<img
							width="83"
							height="134"
							src="./assets/img/gen.png"
							alt=""
							class="card-single__img" />
						<div class="card-single__info">
							<span class="card-single__text"
								>High quality generics drugs will help you save 70%. All
								properties are similar to branded medicines</span
							>
							<a href="#" class="card-single__link btn-reset"
								>What are generics?</a
							>
						</div>
					</div>
				</div>
			</div>

			<div class="card card-product">
				<div class="card-product__top card__top">
					<span class="card-product__title card__title">Bestsellers</span>
				</div>
				<div class="card__body">
					<div class="card-product__items">
						<div class="product">
							<img src="./assets/img/product.png" alt="" class="product__img" />
							<div class="product__content">
								<div class="product__info">
									<span class="product__title">Generic Viagra</span>
									<span class="product__price">$0.98</span>
								</div>
								<div class="product__categories">
									<div class="category category--blue">Sildenafil</div>
									<div class="category category--yellow">
										Erectile Dysfunction
									</div>
								</div>
							</div>
						</div>

						<div class="product">
							<img src="./assets/img/product.png" alt="" class="product__img" />
							<div class="product__content">
								<div class="product__info">
									<span class="product__title">Generic Viagra</span>
									<span class="product__price">$0.98</span>
								</div>
								<div class="product__categories">
									<div class="category category--blue">Sildenafil</div>
									<div class="category category--yellow">
										Erectile Dysfunction
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card card-link">
				<div class="card-link__top card__top">
					<span class="card-link__title card__title">Popular categories</span>
				</div>
				<div class="card__body">
					<div class="card-link__items">
						<a href="#" class="product-link product-link--green">
							<span>Antibiotics</span>

							<span class="product-link__icon">
								<svg
									width="24"
									height="10"
									viewBox="0 0 24 10"
									fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M23.4596 5.45962C23.7135 5.20578 23.7135 4.79422 23.4596 4.54038L19.323 0.403806C19.0692 0.149965 18.6576 0.149965 18.4038 0.403806C18.15 0.657647 18.15 1.0692 18.4038 1.32304L22.0808 5L18.4038 8.67696C18.15 8.9308 18.15 9.34235 18.4038 9.59619C18.6576 9.85003 19.0692 9.85003 19.323 9.59619L23.4596 5.45962ZM0 5.65H23V4.35H0V5.65Z"
										fill="white" />
								</svg>
							</span>
						</a>

						<a href="#" class="product-link product-link--yellow">
							<span>Erectile Dysfunction</span>

							<span class="product-link__icon">
								<svg
									width="24"
									height="10"
									viewBox="0 0 24 10"
									fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M23.4596 5.45962C23.7135 5.20578 23.7135 4.79422 23.4596 4.54038L19.323 0.403806C19.0692 0.149965 18.6576 0.149965 18.4038 0.403806C18.15 0.657647 18.15 1.0692 18.4038 1.32304L22.0808 5L18.4038 8.67696C18.15 8.9308 18.15 9.34235 18.4038 9.59619C18.6576 9.85003 19.0692 9.85003 19.323 9.59619L23.4596 5.45962ZM0 5.65H23V4.35H0V5.65Z"
										fill="white" />
								</svg>
							</span>
						</a>

						<a href="#" class="product-link product-link--purple">
							<span>Anti-Viral</span>

							<span class="product-link__icon">
								<svg
									width="24"
									height="10"
									viewBox="0 0 24 10"
									fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M23.4596 5.45962C23.7135 5.20578 23.7135 4.79422 23.4596 4.54038L19.323 0.403806C19.0692 0.149965 18.6576 0.149965 18.4038 0.403806C18.15 0.657647 18.15 1.0692 18.4038 1.32304L22.0808 5L18.4038 8.67696C18.15 8.9308 18.15 9.34235 18.4038 9.59619C18.6576 9.85003 19.0692 9.85003 19.323 9.59619L23.4596 5.45962ZM0 5.65H23V4.35H0V5.65Z"
										fill="white" />
								</svg>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
