.footer {
	background-color: #fff;
	.menu-item-has-children {
		.sub-menu {
			top: auto;
			bottom: 100%;
			translate: 0 -20px;
		}
	}
	.sub-menu {
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
	&__container {
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 80px 0;

		@media screen and (max-width: 992px) {
			padding: 20px 0;
			justify-content: center;
		}
	}

	&__copy {
		display: block;
		text-align: center;
	}
}
