<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link
		rel="preload"
		href="./assets/fonts/Inter_24pt-Regular.woff2"
		as="font"
		type="font/woff2"
		crossorigin />

	<link
		rel="preload"
		href="./assets/fonts/Inter_24pt-Medium.woff2"
		as="font"
		type="font/woff2"
		crossorigin />

	<link
		rel="preload"
		href="./assets/fonts/Inter_24pt-SemiBold.woff2"
		as="font"
		type="font/woff2"
		crossorigin />

	<link
		rel="preload"
		href="./assets/fonts/Inter_24pt-Bold.woff2"
		as="font"
		type="font/woff2"
		crossorigin />

	<link
		rel="preload"
		href="./assets/fonts/InstrumentSans-Medium.woff2"
		as="font"
		type="font/woff2"
		crossorigin />

	<link
		rel="preload"
		href="./assets/fonts/InstrumentSans-SemiBold.woff2"
		as="font"
		type="font/woff2"
		crossorigin />

	<link rel="stylesheet" href="./assets/css/main.css" />

	<title>Sonitus</title>
</head>
